body{
font-family: 'Poppins', sans-serif;
}

.vertical{
    border-left:3px solid tomato;
    position: absolute;
    height: 120px;
    left: 90px;
    top: 150px;
    border-radius: 20%;   
}
h1{
    font-size: 50px;
    line-height: 40px;
}
.box{
    color: blue;
}
section{
    display: flex;
   margin-left: 100px;
}
.first-sec{
width: 40%;
}
.first-sec img{
    width: 120%;
}

 .button{ 
text-decoration: none;
 background-image: linear-gradient( orange, tomato);
 padding: 10px 40px; 
 color: white;
 border-radius: 5px;
}
.tomvai{
    font-size: 15px;
}
.text-color{
    color: coral;
}
.senter{
    text-align: center;
    margin-top: 100px;
}
.my-mission{
    display: flex;
}
.mission{
    width: 50%;
    margin-left: 2px;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-top: 20px;
    padding-top: 20px;
}
.mission img{
    width: 80px;
}
#box3{ 
    background-color: cyan;
}
#box2{
    background-color: darkgoldenrod;
}
#box1{
   background-color:  darkkhaki;
}

